<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="/projects/flocker/" class="btn btn-success btn-block">
            <i class="fa fa-map-marker" aria-hidden="true" style="font-size:100px"></i> Flocker. A chat based on your location.
        </a>
    </div>

    <div class="col-md-2">
        <a href="img/flocker-beta-debug.apk"><img class="fix" src="img/androidd.png" width="190" height="50"></a>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="/projects/chat" class="btn btn-info btn-block">
            <i class="fa fa-commenting-o" style="font-size:100px"></i> Just a simple chat for people on this website.
        </a>
    </div>
</div>
