<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4>This is a real-time chat application using socket.io and node.js</h4>
<br>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="https://androidserverapp.herokuapp.com/" class="btn btn-success btn-block">
            <i class="fa fa-android" style="font-size:100px"></i>
            Flocker. A chat based on your location.
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="/projects/chat" class="btn btn-info btn-block">
            <i class="fa fa-commenting-o" style="font-size:100px"></i>
            Just a simple chat for people on this website.
        </a>
    </div>
</div>