<iframe src="https://androidserverapp.herokuapp.com/" width="100%" height="600" scrolling="no" class="iframe-class" frameborder="0">
  <p>Your browser does not support iframes.</p>
</iframe>

<script type="text/javascript" src="">function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
      }
      else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }window.onload = getLocation;</script>
